.navbar-nav .nav-link {
  color: #ffffff !important;
  margin-right: 40px;
}
.dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #a19f9f !important;
}
.navbar-brand span.fit {
  color: #ff9400;
  font-weight: bold;
}
.navbar-brand span.zone {
  color: #ffffff;
}
.navbar-brand img {
  width: 30px;
  margin-right: -2px;
}
.nav-item.active .nav-link {
  color: #ff9400 !important;
  letter-spacing: 0.5px !important;
  font-weight: bold !important;
}
.navbar {
  border-bottom: 4px solid #ff9400;
  position: sticky !important;
  top: 0;
  z-index: 100;
}
.nav-item img {
  width: 25px;
  margin-left: 10px;
}

.navbar-nav .nav-link.dropdown-toggle::after {
  display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
}
#prijava {
  cursor: pointer;
}
