body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  border-bottom: 4px solid #ff9400;
  position: sticky !important;
  top: 0;
  z-index: 100;
}
.navbar-brand span.fit {
  color: #ff9400;
  font-weight: bold;
}
.navbar-brand span.zone {
  color: #ffffff;
}
.navbar-brand img {
  width: 30px;
  margin-right: -2px;
}
.navbar-nav .nav-link {
  color: #ffffff !important;
  margin-right: 40px;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #a19f9f !important;
}
.nav-item.active .nav-link {
  color: #ff9400 !important;
  letter-spacing: 0.5px !important;
  font-weight: bold !important;
}
.nav-item img {
  width: 25px;
  margin-left: 10px;
}
.dropdown-menu {
  margin-top: 0;
}
.dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar-nav .nav-link.dropdown-toggle::after {
  display: none;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.banner-image {
  width: 100%;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.banner-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 500px; 
  background-image: url("slike/confident-sportswoman-with-dumbbell-dark.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  color: white;
  text-align: center; 
}
.banner-container-static {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url("slike/confident-sportswoman-with-dumbbell-dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  color: white;
  text-align: center;
  position: relative;
}
.banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  width: 100%;
  padding: 0 20px; 
}
@media (max-width: 768px) {
  .banner-text {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .banner-text {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .banner-container {
    display: none;
  }
  .banner-container-static {
    display: flex;
  }
}

.content-section {
  padding: 60px 0;
}
.content-section h2 {
  color: #ff9400;
  font-weight: bold;
}
.content-section h3 {
  font-weight: bold;
}

.review-section {
  position: relative;
  color: white;
  padding: 120px 0px 20px;
  background: url("slike/silhouette-woman-gym.jpg") no-repeat center center;
  background-size: cover;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  max-width: 100%; 
}
.review-text {
  text-align: left;
  padding: 20px;
  position: relative;
  z-index: 1;
}
.review-text h2 {
  font-weight: bold;
  color: #ff9400;
  margin-bottom: 40px;
}
.review h4 {
  font-weight: bold;
}

.review p strong {
  color: #ff9400;
}
.review {
  margin-bottom: 50px;
}
.stars {
  display: flex;
  gap: 5px;
}
.stars img {
  width: 20px;
  height: 20px;
}

.news-section {
  padding: 60px 0;
  background-color: #ffffff;
}
.news-section h2 {
  font-weight: bold;
  margin-bottom: 40px;
}
.news-section .news-card {
  margin-bottom: 30px;
}
.news-section .news-card img {
  width: 100%;
  height: auto;
}
.news-section .news-card h5 {
  font-weight: bold;
}
.news-section .news-card .news-date {
  color: #ff9400;
  font-weight: bold;
}
.news-section .read-more {
  color: #ff9400;
  font-weight: bold;
}

.programs-section {
  padding: 120px 0;
  color: white;
  background: url("slike/silhouette-basketball-player-holding-ball-black-background.jpg") no-repeat center center;
  background-size: cover;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  position: relative;
  max-width: 100%; 
}
.programs-section .content {
  position: relative;
  z-index: 1;
}
.programs-section h2 {
  font-weight: bold;
  margin-bottom: 40px;
}
.programs-section p {
  margin-bottom: 20px;
}
.programs-section .right-column {
  margin-top: 85px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  width: 100%;
  border-top: 4px solid #ff9400;
}
.footer h5 {
  color: #ff9400;
  font-weight: bold;
}
.footer a {
  color: #ff9400;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-logo-container {
  margin-bottom: 50px !important;
}
.footer-logo {
  width: 50px !important;
  margin-right: 0px;
  vertical-align: middle;
}
.footer-logo-text {
  font-size: 29px;
  font-weight: bold;
  vertical-align: middle;
}
.footer-logo-text .fit {
  color: #ff9400;
}
.footer-logo-text .zone {
  color: #ffffff;
}
.footer .col-md-3 img {
  width: 100px; 
  height: auto; 
}

.carousel-caption {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
}

@media (max-width: 767px) {
  .review-text h2, .programs-section h2 {
    text-align: center;
  }
}
