.banner-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
  height: 500px; 
  background-image: url("slike/Onama_banner.png") !important;
  background-size: cover;

  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  color: white;
  text-align: left; 
}
@media (max-width: 1070px) {
  .banner-container {
    clip-path: polygon(0 0, 100% 0, 100% 92.5%, 0 100%);
  }
}
@media (max-width: 768px) {
  .banner-container {
    clip-path: polygon(0 0, 100% 0, 100% 92.5%, 0 100%);
  }
}

@media (max-width: 768px) {
  .banner-container {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }
}

.banner-text {
  margin-left: 100px;
  display: flex;
}
@media (max-width: 768px) {
  .banner-text {
    margin: 0 auto;
  }
}
.content-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
  background-color: white;
  text-align: left;
}

.content-section h2 {
  color: #f7931e;
}

.content-section p {
  margin-bottom: 16px; 
}

.treneri-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-image: url("slike/treneri_background.png");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  color: white;
  padding: 40px;
}
.treneri-text {
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: 85px; 
  text-align: left;
}

.treneri-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.trener-card {
  margin: 15px;
  text-align: center;
  width: 100%;
  max-width: 300px; 
}
.trener-card img {
  width: 100%;
  height: auto;
  max-height: 450px;
  border-radius: 8px;
}
.trener-card .card-body {
  position: relative;
  background-color: #ff9400;
  color: white;
  padding: 10px;
  width: 80%;
  margin: -20px auto 0 auto;
}
.treneri-container {
  border-bottom: 4px solid #ff9400;
}

@media (max-width: 1070px) {
  .treneri-container {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  }
  .treneri-text {
    margin: 40px auto 0 auto;
  }
}
@media (max-width: 768px) {
  .treneri-container {
    clip-path: polygon(0 2.5%, 100% 0, 100% 100%, 0 100%);
  }
  .treneri-text {
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 576px) {
  .treneri-container {
    clip-path: polygon(0 2.5%, 100% 0, 100% 100%, 0 100%);
  }
  .treneri-text {
    margin: 20px auto 0 auto;
  }
}

.img_rastezanje {
  width: 500px;
  height: 350px;
  margin-left: 50px;
  margin-top: -100px;
}
.container_img_rastezanje {
  display: flex;
}
@media (max-width: 768px) {
  .img_rastezanje {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
}

h3 {
  margin-top: 80px; 
  color: #ff9400;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .container h3 {
    display: flex;
    justify-content: center;
  }
}
