body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 48px; 
}

h2 {
  font-size: 40px; 
}

h3 {
  font-size: 32px; 
}

h4 {
  font-size: 28px; 
}

h5 {
  font-size: 24px; 
}

h6 {
  font-size: 20px; 
}

p {
  font-size: 18px; 
}

.navbar-nav .nav-link {
  font-size: 16px; 
}

.footer p {
  font-size: 16px; 
}

.footer h5 {
  font-size: 20px; 
}
