.navbar-nav .nav-link {
  color: #ffffff !important;
  margin-right: 40px;
}
.dropdown-menu .dropdown-item {
  color: #000000;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #a19f9f !important;
}
.navbar-brand span.fit {
  color: #ff9400;
  font-weight: bold;
}
.navbar-brand span.zone {
  color: #ffffff;
}
.navbar-brand img {
  width: 30px;
  margin-right: -2px;
}
.nav-item.active .nav-link {
  color: #ff9400 !important;
}
.navbar {
  border-bottom: 4px solid #ff9400;
}
.nav-item img {
  width: 25px;
  margin-left: 10px;
}
.navbar-nav .nav-link.dropdown-toggle::after {
  display: none;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
}

.banner-image {
  width: 100%;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url("slike/smiling-women-performing-ballet-audience-enjoys-performance-generated-by-ai.jpg") !important;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  color: white;
  text-align: center;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.banner-text h1 {
  margin: 0;
}
.banner-text p {
  margin: 0;
}
@media (max-width: 768px) {
  .banner-text h1 {
    font-size: 32px;
  }
  .banner-text p {
    font-size: 19px;
  }
}
@media (max-width: 480px) {
  .banner-text h1 {
    font-size: 24px;
  }
  .banner-text p {
    font-size: 16px;
  }
}

.group-training-section {
  padding: 50px 0;
}
@media (max-width: 480px) {
  .group-training-section {
    padding: 15px;
  }
}
.group-training-section h2 {
  margin-bottom: 60px;
  text-align: left;
}
.training-item {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.training-icon-wrapper {
  margin-right: 20px;
}
.training-item img.training-icon {
  width: 60px;
  height: 60px;
}
.training-content {
  text-align: left;
}
.training-content h3 {
  margin-bottom: 15px;
}
.training-content p {
  line-height: 1.5;
  margin-top: 0;
}

.schedule-table-container {
  position: relative;
  z-index: 0;
}
.schedule-table-container::before {
  content: "";
  background-image: url("slike/black-white-photo-muscular-build-man-using-sports-chalk-hands-while-weightlifting-gym.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}
@media (max-width: 768px) {
  .schedule-table-container::before {
    clip-path: polygon(0 2.5%, 100% 0, 100% 100%, 0% 100%);
  }
  .center_it {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .schedule-table-container::before {
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
  }
}
.schedule-table {
  position: relative;
  z-index: 1;
  padding: 100px 20px 50px 20px;
  margin: 30px auto;
}
.schedule-table h2 {
  text-align: left;
  margin-bottom: 30px;
  color: #ffffff;
}
.schedule-table .nav-tabs {
  border-bottom: none;
  justify-content: flex-start;
}
.schedule-table .nav-tabs .nav-link {
  border: none;
  border-radius: 0;
  font-weight: bold;
  color: #ffffff;
}
.schedule-table .nav-tabs .nav-link.active {
  color: #ff9400;
  text-decoration: underline;
  background-color: transparent;
}
.schedule-table .day-header {
  background-color: #ff9400;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.schedule-table .session {
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #ffffff;
}
.schedule-table .session.booked {
  background-color: #c0c0c0;
  color: #6a6a6a;
}
.schedule-table .session.completed {
  background-color: #c0c0c0;
  color: #6a6a6a;
}
.session.empty {
  background-color: #c0c0c0;
  color: transparent;
  height: 117px;
}
.schedule-table .session a {
  text-decoration: underline;
  font-weight: bold;
  color: #ff9400;
}

.individual-training-section-wrapper {
  width: 100%;
  border-bottom: 4px solid #ff9400;
}
@media (max-width: 480px) {
  .individual-training-section-wrapper {
    padding: 15px;
  }
}
.individual-training-section {
  padding: 50px 0;
  background-color: #ffffff;
  text-align: left;
}
.individual-training-section h2 {
  margin-bottom: 20px;
}
.individual-training-section p {
  line-height: 1.5;
  margin-bottom: 20px;
}
.individual-training-section .btn.custom-btn {
  background-color: #ff9400;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.3s ease;
  border-radius: 30px;
}
.individual-training-section .btn.custom-btn:hover {
  background-color: #e68900;
}

.btn-custom {
  background-color: #ff9400;
  border: none;
  width: 200px;
  margin: 20px auto 0;
  color: white;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  background-color: #e68900 !important;
  border-color: #e68900 !important;
  color: white;
  box-shadow: none;
  outline: none;
  font-weight: bold;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}
.footer h5 {
  color: #ff9400;
  font-weight: bold;
}
.footer a {
  color: #ff9400;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-logo-container {
  margin-bottom: 50px !important;
}
.footer-logo {
  width: 50px !important;
  margin-right: 0px;
  vertical-align: middle;
}
.footer-logo-text {
  font-weight: bold;
  vertical-align: middle;
}
.footer-logo-text .fit {
  color: #ff9400;
}
.footer-logo-text .zone {
  color: #ffffff;
}
.footer .col-md-3 img {
  width: 100px;
  height: auto;
}
